:root {
    --black: #000814;
    --dark-blue: #001d3d;
    --blue: #003566;
    --orange: #ffc300;
    --yellow: #ffd60a;
}

body {
    background-color: var(--dark-blue);
}

main {
    margin: auto;
    color: white;
    font-size: 24px;
    max-width: 1500px;
    min-width: 400px;
}

h1 {
    text-align: center;
    min-width: 212px;
}

#instructions {
    width: 63%;
    margin: auto;
    border: thick double white;
    padding: 20px;
}

#input-file {
    height: 2em;
    font-size: 18px;
}

#shuffle-check {
    height: 0.8em;
    min-width: 50px;
}

#checkbox-container, #shuffle-check, #num-of-cards-container {
    font-size: 32px;
}

#settings-container {
    margin: 50px auto 0 auto;
    padding: 20px;
    width: 66%;
    display: flex;
    justify-content: space-between;
}

button, input, #answer {
    cursor: pointer;
}

#card-count, .navigation-button {
    font-size: 60px;
}

.navigation-button {
    background-color: var(--dark-blue);
    border: none;
    color: var(--yellow);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-screen button, #to-settings {
    font-size: 24px;
    background-color: #ffc300;
}

#right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#card-screen {
    display: none;
}

#file-container, #text-container {
    width: 25%;
    min-width: 344px;
}

#text-container {
    margin-top: 40px;
    margin-bottom: 30px;
}

#text-buttons-container {
    display: flex;
}

.card {
    width: 25%;
    min-width: 344px;
    height: 150px;
    border: thick solid white;
    text-align: center;
    padding: 5%;
    margin: 20px 10px;
}

#card-screen {
    margin-top: 6rem;
}

#navigation-container {
    text-align: center;
}

#to-settings {
    display: block;
    margin: 15px auto 0 auto;
}

@media (max-width: 900px) {
    #card-container, #settings-container {
        flex-direction: column;
    }
   
    #instructions {
        font-size: 18px;
    }

}

